.left, .right{
	width: 20%;
}

.left, .middle{
	border-right: 1px dotted black;
}

.middle, .right{
	border-left: 0;
}

.left{
	border-radius: 10px 0 0 10px;
}

.right{
	border-radius: 0 10px 10px 0;
}

.middle{
	width: 60%;
}

	.container-text{
		width: 100%;
		height: 40%;
		margin-top: 60px;
	}

	#top-text, #center-text, #bottom-text{
		width: 100%;
	}

	#top-text{
		height: 25%;
		width: 70%;
	}

		#top-text-container{
			height: 100%;
			width: 50%;
			text-align: center;
			margin: 0 auto;
		}

	#center-text{
		height: 50%;
		width: 90%;
	}

		#center-text-container{
			height: 100%;
			width: 50%;
			text-align: center;
			margin: 0 auto;
		}

	#bottom-text{
		height: 25%;
		width: 80%;
		margin-left: 20%;
	}

		#bottom-text-container{
			height: 100%;
			width: 50%;
			text-align: center;
			margin: 0 auto;
		}

.left img{
	height: 100%;
	width: 100%;
	padding: 5%;
}

.right #split_vertical_box1{
	width: 100%;
	max-width: 100%;
	height: 45%;
}

	#split_vertical_box1 img{
		max-width: 100%;
		height: 100%;
		padding-right: 10%;
	}

.right #split_vertical_box2{
	width: 100%;
	height: 25%;
}

	#split_vertical_box2 p{
		width: 90%;
		text-align: right;
		padding-top: 0;
		padding-right: 8%;
		margin: 0 auto;
	}