main h1{
	font-size: 24px;
	text-align: center;
	margin-bottom: 0.5em;
}	

main article{
	width: 90%;
	margin: 2em auto;
	padding: 1%;
	border: 1px solid white;
	border-radius: 15px;
	background-color: grey;
	background-color: #FF9999;
}

main p{
	margin-left: 2em;
	line-height: 1.8;
}

main ul{
	margin-left: 5em;
}

main ul ul{
	margin-left: 3em;
}

main li {
	line-height: 1.8;
}