main h1{
	font-size: 24px;
	text-align: center;
	margin-bottom: 0.5em;
}	

main article{
	width: 100%;
	margin: 1.5em auto;
	padding: 1%;
	border-radius: 15px;
}

main p{
	margin: 0 2em;
	line-height: 1.8;
}

main ul{
	margin: 0 5em;
}

main ul ul{
	margin: 0 3em;
}

main li {
	line-height: 1.8;
}

#maincontent{
	width: 53%;
	margin-left: 10%;
	float: left;
}

#newsfeed{
	width: 25%;
	margin-left: 2%;
	float: left;
}

#newsfeed article{
	border-radius: 10px;
	background: -webkit-linear-gradient(90deg, #56caff, #2979d3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #56caff, #2979d3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #56caff, #2979d3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #56caff, #2979d3); /* Standard syntax */
	box-shadow: 10px 10px 5px grey;
}